body{
    background: rgb(157,240,255);
    background: radial-gradient(circle, rgba(157,240,255,1) 0%, rgba(33,110,180,1) 100%);
}

.titel{
    text-align: center;
    margin-top:290px;
}

.titel *{
    display: inline-block;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
}

.woord{
    margin: 0px 40px;
}
#flying_dirt{
    margin-top: 600px;
    width: 100%;
    height: 120vh;
}

#groot_grasblok1{
    position: absolute;
    top: 200%;
    left: 15%;
    width: 70%;
    opacity: 0;
    animation-fill-mode: forwards;
}





@keyframes zweven{
    0%{
        transform:rotate(0deg);
      }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(-30px);
    }
}

.appear{
    animation: appear .5s ease-in 0s 1;
    opacity: 1;
}

